body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5fa;
}

.booklist {
  width: 90vw;
  max-width:1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr)
  }
}

.book {
  background: #ff8;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.book img{
  width:70%;
  object-fit: cover;
}

.book h2{
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
  color: green !important;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  text-transform: capitalize;
}